# Ignore raw big datasets
datasets/raw/
datasets/raw/*
datasets/raw/*.csv
datasets/raw/*.jsonl

# Ignore any Hive/warehouse/metastore noise
warehouse/
metastore_db/
derby.log
*.log

# Ignore Python junk
venv/
__pycache__/
*.pyc

# Ignore Hadoop checksum junk if they ever appear
*.crc
*.eventlog

# Node modules (if UI team puts frontend inside this repo)
ui/node_modules/

# OS files
.DS_Store
Thumbs.db
